# 忽略配置文件 带有斜线的是目录
# IntelliJ IDEA
.idea/
*.iml

# Eclipse project
.project
.classpath
.settings/

# Gradle project
.gradle/
build/

# Android project
bin/
gen/
out/
local.properties

# Temp files
*.bak
*.tmp
*.temp
Thumbs.db
.DS_Store